<app-util-loader *ngIf="loading$ | async"></app-util-loader>
<div *ngIf="member$ | async as member" class="row">
  <div class="col-4 pb-3"><h1>Your Profile</h1></div>
  <div class="col-8">
    <div *ngIf="aboutForm.dirty" class="alert alert-info pb-1">
      <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || 'assets/default-member-photo.png' }}"
        class="card-img-top"
        alt="{{ member.knownAs }}"
      >
      <div class="card-body">
        <h2 class="card-title">{{ member.knownAs }}</h2>
        <h5 class="card-text font-weight-bold">{{ member.age }}</h5>
        <div class="card-text">
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div class="card-text">
          <strong>Last active:</strong>
          <p>{{ member.lastActive | date }}</p>
        </div>
        <div class="card-text">
          <strong>Member Since:</strong>
          <p>{{ member.created | date }}</p>
        </div>
        <button
          class="btn btn-success col-12"
          [disabled]="!aboutForm.dirty"
          (click)="save()"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset>
      <tab heading="About {{ member.knownAs }}">
        <form [formGroup]="aboutForm" class="d-flex flex-column m-3 gap-3">
          <div>
            <h4>Description</h4>
            <textarea
              formControlName="introduction"
              class="form-control"
              rows="6"
            ></textarea>  
          </div>
          <div>
            <h4>Looking For</h4>
            <textarea
              formControlName="lookingFor"
              class="form-control"
              rows="6"
            ></textarea>
          </div>
          <div>
            <h4>Interests</h4>
            <textarea
              formControlName="interests"
              class="form-control"
              rows="6"
            ></textarea>
          </div>
          <div>
            <h4>Location Details</h4>
            <div class="d-flex flex-row align-items center gap-2">
              <label for="city">City:</label>
              <input type="text" formControlName="city">
              <label for="country">Country:</label>
              <input type="text" formControlName="country">
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Edit Photos">
        <div class="row m-3">
          <div class="col-2" *ngFor="let photo of member.photos">
            <div class="card">
              <img src="{{ photo.url }}" class="card-img-top img-thumbnail" alt="Photo from {{ member.knownAs }}">
              <div class="card-body text-center row">
                <button
                  class="btn btn-sm col-8"
                  [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
                  [disabled]="photo.isMain"
                  (click)="setMainPhoto(photo)"
                >
                  Main
                  <i *ngIf="photo.isMain" class="fa fa-check"></i>
                </button>
                <button
                  class="btn btn-sm btn-danger col-4"
                  [disabled]="photo.isMain"
                  (click)="deletePhoto(photo)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div>
            <button class="btn btn-primary" (click)="openPhotoUploadDialog()">
              <i class="fa fa-upload"></i> Upload more...
            </button>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>