<div class="d-flex flex-column gap-5">
  <div class="text-center">
    <h2>Your matches - {{ (pagination$ | async)?.totalItems ?? 'No matches ' }} found</h2>
  </div>
  <div class="container">
    <form
      #filterForm="ngForm"
      class="d-flex gap-2 justify-content-center w-100"
      (ngSubmit)="setFilters()"
      autocomplete="off"
    >
      <div class="d-flex gap-1">
        <label for="minAge" class="col-form-label">Age from: </label>
        <input
          name="minAge"
          type="number"
          class="form-control-sm"
          min="18"
          [(ngModel)]="filters.minAge"
        >
      </div>
      <div class="d-flex gap-1">
        <label for="maxAge" class="col-form-label">Age to: </label>
        <input
          name="maxAge"
          type="number"
          class="form-control-sm"
          max="99"
          [(ngModel)]="filters.maxAge"
        >
      </div>
      <div class="d-flex gap-2">
        <label for="gender" class="col-form-label">Show: </label>
        <select
          name="gender"
          class="form-select"
          [(ngModel)]="filters.gender"
        >
          <option *ngFor="let opt of genderOpt" [value]="opt.value">
            {{ opt.display }}
          </option>
        </select>
      </div>
      <button class="btn btn-primary" type="submit">Apply Filter</button>
      <button class="btn btn-info" (click)="resetFilters()">Reset Filter</button>
      <div class="col">
        <div class="btn-group float-end">
          <button
            *ngFor="let opt of sortingOpt"
            name="orderBy"
            type="button"
            class="btn btn-primary"
            [(ngModel)]="filters.orderBy"
            [btnRadio]="opt.value"
            (click)="setFilters()"
          >
            {{ opt.display }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <ng-template #noMatches>
    <h4 class="text-center">There are no results to display for the current filters</h4>
  </ng-template>
  <ng-container *ngIf="(members$ | async)?.length; else noMatches">
    <div class="d-flex flex-wrap gap-5 m-3 justify-content-center">
      <div *ngFor="let member of members$ | async">
        <app-util-member-card [member]="member"></app-util-member-card>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-center" *ngIf="pagination$ | async as pagination">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [disabled]="pagination.totalPages < 2"
        [(ngModel)]="pageNumber"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </ng-container>
</div>
