<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Dating App</a>
    <ng-container *ngIf="loggedIn$ | async; else notLoggedIn">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ul>
      <div class="btn-group" dropdown>
        <button
          id="button-user-session"
          dropdownToggle
          type="button"
          class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-user-session"
        >
          <img
            [src]="(userPhotoUrl$ | async) || 'assets/default-member-photo.png'"
            alt="User photo"
            class="profile-pic rounded-circle me-2"
          >
          Welcome {{ userKnownAs$ | async }}
          <span class="caret"></span>
        </button>
        <ul
          id="dropdown-user-session"
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right"
          role="menu"
          aria-labelledby="button-user-session"
        >
          <li role="menuitem"><a class="dropdown-item" routerLink="/members/edit">Edit Profile</a></li>
          <li role="menuitem" (click)="logout()"><a class="dropdown-item">Logout</a></li>
        </ul>
      </div>
    </ng-container>
    <ng-template #notLoggedIn>
      <button type="button" class="btn btn-outline-primary" (click)="openLoginModal()">
        Login
      </button>
    </ng-template>
  </div>
</nav>

