<app-util-loader *ngIf="loading$ | async"></app-util-loader>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th class="w-30">Username</th>
        <th class="w-40">Active roles</th>
        <th class="w-30"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async; trackBy: trackByFn">
        <td>{{ user.username }}</td>
        <td>{{ user.roles }}</td>
        <td>
          <button class="btn btn-info" (click)="openRolesModal(user)">
            Edit roles
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>